@import "footer.css";
@import "nav.css";
@import "branding.css";

h1 {
    text-align: center;
    font-size: 68px;
    margin: auto;
    color: rgb(17, 17, 19);
    padding: 30px 60px;
}
h2 {
    text-align: center;
    font-size: 28px;
    margin: auto;
    padding: 30px;
}
#nestedgrid {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    border: 3px solid gray;
}

.hero {
    /*background-color:lightblue;*/
    /*text-align: center;*/
    padding: 20px 20px;
    margin: auto;
}

.avatar {
    border-radius: 80px;
    display: flex;
    align-items: flex-start;
}
h5 {
    font-size: 36px;
    background-color: lightblue;
    padding: 10px;
    color: white;
}
h3 {
    font-size: 28px;
}

.hero {
    text-align: center;
}
