@import "footer.css";
@import "nav.css";
@import "branding.css";


h1 {
    text-align: center;
    font-size: 68px;
    margin: auto;
    color: rgb(17, 17, 19);
}

.blog-card {
  box-sizing: border-box;
 
}

  
.container {
    /* Step 1: Set display to grid */
    display: grid;
    /* Step 2: setup rows amd columns */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px 300px 300px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd sd sd sd sd sd sd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    /*border: 2px solid yellow;*/
}
.box {
    /* width: 250px;
    height: 150px; */
    /*border: 1px solid red;*/
    /* background: #F8FA9D;*/
    padding: 20px 20px;
}

.header {
    /* row start/column start/ row end/ column end */
    grid-area: hd;
    background-image: url(/images/honolulu.jpg);
    background-size: 100%;
}

.footer {
    grid-area: ft;
    margin: 60px 0;
}
.sidebar {
    grid-area: sd;
    margin-top: 50px;
}
.content {
    grid-area: main;
}


.header h5 {
    color: darkgray;
    text-align: center;
}

#nestedgrid {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    border: 3px solid gray;
}

.photoBox {
    margin: auto;
    padding: 10px auto;
    width: 300px;
    height: 150px;
    background: yellow;
}

.btn {
    background: var(--branding-color);
    border-radius: 2px;
    color: black;
    font-size: 18px;
    line-height: 1px;
    padding: 15px 30px;
    align-self: end;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
}

.photoBox {
    display: flex;
    align-items: center;
}

#about-me {
    background-image: url(/images/me4.JPG);
    background-size: cover;
    justify-content: center;
}

#follow-me {
    background-image: url(/images/amberjack.jpeg);
    background-size: cover;
    justify-content: center;
}

#recent-posts {
    background-image: url(/images/matsuri.png);
    background-size: cover;
    justify-content: center;
}

@media(max-width: 900px) {
  .nav{
    font-size: 16px;
    text-align: left;
    width: 90%;
  }
  
  container .header{
    /* row start/column start/ row end/ column end */
    grid-area: hd;
    background-image: url(/images/honolulu.jpg);
    background-size: 5%;
    width: 50%;
  }

  h1 {
    font-size: 36px;
    text-align: left;
  }

  .box {
    padding: 10px 10px;
  }
  
  footer .contact-box {
    padding: 10px 10px;
    text-align: center;
    /*width: 90%;*/
  }

  footer .social-links {
    text-align: center;
    margin: auto;
    padding: 1px 1px;
    font-size: 8px;
  }
  /*footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}*/

  footer .contact {
    font-size: 16px;
    background-size: 50%;
  }

  footer .email-link a{
  text-align: center;
  font-size: 16px;
  padding: 20px 20px;
  }

  footer .open-source {
    font-size: 12px;
  }




  /*footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;*/


    .container {
        /* Step 1: Set display to grid */
        display: grid;
        padding: 10px 10px;
        /* Step 2: setup rows amd columns */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 500px;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: 
      /*"hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";*/
            "hd hd hd hd hd hd hd hd"
            "sd sd sd sd sd sd sd sd"
            /*"sd sd sd sd sd sd sd sd"*/
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
    #nestedgrid {
        display: flex;
        justify-items: center;
        text-align: center;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 100%;
        /*border: 3px solid gray;*/
    }
}
